<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mbc.academy.file.FileMapper">

    <!-- tb_file 테이블 전체 컬럼 -->
    <sql id="fileColumns">
          id
        , bno
        , originalname
        , savename
        , size
        , deleteyn
        , createddate
        , deleteddate
    </sql>
    
	   <select id="findById" parameterType="java.lang.Integer" resultType="com.mbc.academy.file.FileResponse">
        SELECT
            <include refid="fileColumns" />
        FROM
            tb_file
        WHERE
            deleteyn = 0
            AND id = #{value}
    </select>
    <!-- 파일 정보 저장 -->
    <insert id="saveAll" parameterType="list">
        INSERT INTO tb_file (
            <include refid="fileColumns" />
        ) VALUES
        <foreach item="file" collection="list" separator=",">
        (
              #{file.id}
            , #{file.bno}
            , #{file.originalName}
            , #{file.saveName}
            , #{file.size}
            , 0
            , NOW()
            , NULL
        )
        </foreach>
    </insert>
    <!-- 파일 리스트 조회 -->
    <select id="findAllByPostId" parameterType="java.lang.Integer" resultType="com.mbc.academy.file.FileResponse">
        SELECT
            *
        FROM
            tb_file
        WHERE
            deleteyn = 0
            AND bno = #{value}
        ORDER BY
            id
    </select>


    <!-- 파일 리스트 조회 -->
    <select id="findAllByIds" parameterType="list" resultType="com.mbc.academy.file.FileResponse">
        SELECT
          *
        FROM
            tb_file
        WHERE
            deleteyn = 0
            AND id IN
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
        ORDER BY
            id
    </select>
	
    <select id="findimg" resultType="com.mbc.academy.file.FileResponse">
        SELECT
          *
        FROM
            tb_file
        WHERE
            deleteyn = 0
            AND bno = #{bno} and originalname = #{ori}
        	LIMIT 1
    </select>
	

    <!-- 파일 삭제 -->
    <delete id="deleteAllByIds" parameterType="list">
        UPDATE tb_file
        SET
              deleteyn = 1
            , deleteddate = NOW()
        WHERE
            id IN
            <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
            </foreach>
    </delete>
</mapper>